################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeDbExplorer/obj
/EmployeeDbExplorer/bin/Debug/net8.0
/EmployeeDbExplorer/bin/x64/Debug/net8.0
/EmployeeDbExplorer/bin/Release/net8.0/win-x64
/publish
